SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=example.com,www.example.com
CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com

DB_ENGINE=django.db.backends.postgresql
DB_NAME=jobxpress
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432

EMAIL_HOST_USER=jobxpress660@gmail.com
EMAIL_HOST_PASSWORD=change-me
GOOGLE_MAPS_API_KEY=change-me

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
