<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Recuperar contraseña</title>

    <link rel="stylesheet" href="{% static 'css/forgot-password.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

<div class="auth-container">
    <div class="login-logo">
        <img src="{% static 'images/logo_sidebar_blue.png' %}?v=2" alt="JobXpress Logo">
    </div>
    <h2>Recuperar Contraseña</h2>
    <p class="subtitle">Te enviaremos un enlace para restablecer tu contraseña.</p>

    <form method="post" action="/forgot">
        {% csrf_token %}
        <label>Email</label>
        <input type="email" name="email" class="form-control" required/>

        <button type="submit" class="btn-primary">
            Enviar enlace
        </button>
    </form>

    <div class="auth-links">
        <a href="/login">Volver al login</a>
    </div>
</div>

<!-- Sweet Alerts -->
{% if 'success' in request.GET %}
<script>
Swal.fire({
  icon: 'success',
  title: 'Correo enviado',
  text: 'Revisa tu bandeja de entrada',
  confirmButtonColor: '#0277BD'
})
</script>
{% endif %}

{% if error %}
<script>
Swal.fire({
  icon: 'error',
  title: 'Error',
  text: '{{ error }}'
})
</script>
{% elif 'error' in request.GET %}
<script>
Swal.fire({
  icon: 'error',
  title: 'Error',
  text: '{{ request.GET.error }}'
})
</script>
{% endif %}

</body>
</html>
